.PublicProfilesComponent {
    background-color: lightgray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.profiles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    text-align: center;
    align-items: center;
}

.users-table {
    width: 100%;
}

.avatarIMG {
    width: 50px;
    height: auto;
    border-radius: 90px;
}

form {
    text-align: center;
}

.form-field {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-avatar {
    display: grid;
    grid-template-rows: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.qrcodeimage {
    margin-top: 10px;
    margin-bottom: 25px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profilepage {
    background: azure;
    color: black;
    flex-direction: column;
    text-align: center;
    display: flex;
    background: lightgrey;
}

.profile-content {
    height: 75%;
    padding: 20px;
    background: lightgrey;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.stat {
    background: white;
}

.value {
    padding-top: 10px;
    font-weight: bolder;
    background-color: #6281ca;
}

.desc {
    font-weight: bolder;
    align-items: center;
    justify-content: flex-end;
}

.statistics {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.customTable {
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    margin-top: 6px;
    margin-right: 15px;
    width: 36px;
    height: 36px;
}

.nameAvatar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}