.chatFeed {
    height: 90%;
    width: 150vh;
    contain: content;
    padding-left: 30px;
}

.chatMessages {
    height: 63vh;
    overflow-y: auto; 
}

.input {
    width: 75%;
}

.inputBar {
    display: flex;
    width: 100%;
    align-items: center;
}

.userAdminTable {
    width: 100%;
}

tr:hover {
    background-color: lightgrey;
}

.passWordDiv {
    text-align: center;
    padding: 10px;
}

.tableDiv {
    display: block;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}